################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AppLogger/bin
/AppLogger/obj
/WindowsRuntimeComponent/obj/Debug
/WindowsRuntimeComponent/bin/Debug
/packages
/ClassLibrary/bin
/ClassLibrary/obj
