################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AppLogger/bin
/AppLogger/obj
/WindowsRuntimeComponent/obj/Debug
/WindowsRuntimeComponent/bin/Debug
/packages
/ClassLibrary/bin
/ClassLibrary/obj
/ConsoleApp/obj
/ConsoleApp/bin/Debug
/ConsoleApp/bin/Release/netcoreapp1.0
/WindowsRuntimeComponent/obj/Release
/WindowsRuntimeComponent/bin/Release
*.nupkg
